# The whole repository is owned by the Insights_dev team in the Surveypal organization.
# Configure the access via GitHub web interface at https://github.com/orgs/Surveypal/teams/insights_dev
*	@Surveypal/insights_dev

